.product-reviews ul {
  padding: 0;
  margin: 20px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-reviews li {
  cursor: pointer;
  font-weight: 500;
}

.product-reviews .rates {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.product-reviews .rates .rate-comment {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.product-reviews .rates .rate-comment span:nth-of-type(2) {
  color: #ffcd4e;
  font-weight: 500;
}

.btn-primary {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  text-align: center;
  border: 1px solid #babfc3;
  padding: 7px 16px;
  min-height: 36px;
  min-width: 36px;
  color: #202223;
  background: #ffffff;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  max-width: 300px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px;
  :hover {
    background: #f6f6f7;
    outline: 1px solid transparent;
  }
}

.username {
  font-weight: 700;
  color: #202223;
}
